.app {
    background-color: #edeef0;
    height: 100vh;
}

.body{
    display: grid;
    grid-template-columns: auto 165px 550px 245px auto;
}
.container {
    display: grid;
    margin: 0 auto;
    height: 42px;
    max-width: 960px;
    grid-template-columns: auto 165px 550px 245px auto;
}
.mainField{
    grid-area: 1/3/2/4;
}
