.app {
    background-color: #edeef0;
    height: 100vh;
}

.main{
    display: grid;
    grid-template-columns: auto 165px 550px 245px auto;
}
.container {
    display: grid;
    margin: 0 auto;
    height: 42px;
    max-width: 960px;
    grid-template-columns: auto 165px 550px 245px auto;
}
.mainBlock{
    grid-area: 1/3/2/4;
    background-color: white;
    height: 94vh;
}




.mainAside {
    background-color: darkgray;
    grid-area: 1/4/2/5;
}
.nav_link {
    padding: 7px;
    display: flex;
    text-decoration: none;
}
.nav_ul {
    padding: 0px;
    padding-left: 10px;
    list-style: none;
}